// COLOUR VARIABLES

$white: #f4f4f8;
$darkblue: #022887;
$gray: #9ca4af;
$violetgray: #b6b5ce;
$orange: #d8581c;
$blue: #2928b3;
$darkgray: #918999;
$black: #303843;
$lightblue: #146dbf;
$grayblue: #89b6df;
